.carrito{
    background-image: url('/images/fondo.main.jpeg');
}

/* carrito__main */
.carrito main{
    width:90%;
    margin:10px auto;
}
/* carrito__titulo */
.carrito__titulo{
    font-weight: bold;
    color:white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    box-shadow: 7px 13px 37px #000;
}
/* carrito__producto */
.carrito__producto{
    color:white;
    background-color: #24303c;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}
.carrito__producto--contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 10px solid orangered;
  /*   background-color: #24303c; */
}

.carrito__producto--contenedor > div{
    margin: 5px auto;
}
.carrito__producto--descripcion{
    text-align: center;
    padding: 0 20px;
}
.carrito__producto--numero{
    width: 100px;
    text-align: center;
}
.carrito__producto--cantidad{
    display: flex;
    justify-content: space-around;
    width: 90%;
 
    border-radius: 5px;
    background-color: #24303c;

}
.carrito__producto--footer{
    text-align: center;
}
/*carrito__envio*/
.carrito__envio{
    color:white;
    background-color: #24303c;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}
.carrito__envio--contenedor{
    display: flex;
    flex-direction: column; 
    border-top: 10px solid green;
}
.carrito__envio--contenedor>div{
    margin-top: 5px;
    margin-bottom: 20px;
}
.carrito__envio--formas{
    margin-bottom: 20px;
}
.elemento__envio{
    background-color:  #24303c;
}
.carrito__envio--correo{
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 15px;
}
.carrito__envio--codigoPostal{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 5px;
    margin:0 auto;
   

}
.fa-truck{
    color:black;
    padding-left: 30px;
}


/*carrito__promo*/
.carrito__promo{
    color:white;
    background-color: #24303c;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}
.carrito__promo--contenedor{
    display: flex;
    flex-direction: column;
    border-top: 10px solid yellow;
}
.carrito__promo--contenedor>div{
    margin-top: 5px;
    margin-bottom: 20px;
}
.carrito__promo--codigo{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
   
    border-radius: 5px;
    margin:0 auto;
   
}
.carrito__promo--codi{
    width: 400px;

}
.fa-ticket-alt{
    color:black;
    padding-left: 30px;
}
.carrito__promo--enviar{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin:0 auto;
    width: 200px;
    border-radius: 5px;
   

}


/*carrito__pago */
.carrito__pago{
    color:white;
    background-color: #24303c;
    margin-top: 10px;
    margin-bottom: 10px;
    border:solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 13px 37px #000;
}
.carrito__pago--contenedor{
    display: flex;
    flex-direction: column;
    border-top: 10px solid rgb(36, 1, 36);
}
.carrito__pago--contenedor>div{
    margin-top: 5px;
    margin-bottom: 20px;
}
.carrito__pago--formas{
    font-weight: bold;
    margin-left:20px;
    margin-bottom: 20px;
}
.carrito__pago--forma{
    margin-left: 18px;
}
.carrito__pago--footer{
    text-align: center;
}

/*logo General*/
.carrito__logo--general{
    align-self: center;
}

@media (min-width: 750px){
    
    .carrito__titulo{
        margin-bottom: 25px;
    }
    /* carrito__producto */
    .carrito__producto{
        margin-bottom: 25px;
    }
    .carrito__producto--contenedor{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .carrito__producto--cantidad{
        display: flex;
        justify-content: space-around;
        width: 15%;
        border-radius: 5px;
    }
    .carrito__producto--numero{
        width: 100px;
        text-align: center;
    }

    .carrito__producto--precio{
        padding: 0 20px;
    }
    .carrito__producto--imagen{
        padding-left: 5px;
    }
    /* carrito__promo */
    .carrito__promo{
        margin-bottom: 25px;
    }
    .carrito__promo--contenedor{
        padding: 0 20px;
        flex-direction: row;
        justify-content:  space-between;
        align-items: center;
    }
    .carrito__promo--codigo{
        width:auto;
        margin: 0;
    }
    
    /* carrito__envio */
    .carrito__envio{
        margin-bottom: 25px;
    }
    .carrito__envio--contenedor{
        padding: 0 20px;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }
    .carrito__envio--formulario{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    .carrito__envio--formas{
        width: auto;
    }
    .carrito__envio--codigoPostal{
        margin: 0;
      
    }
    /* carrito__pago */
    .carrito__pago{
        margin-bottom: 35px;
    }
    .carrito__pago--contenedor{
        padding: 0 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .elemento__pago{
        width: 200px;
    }
 
}

