@media (min-width:480px){
    footer{
        background-color:#090f28
        ; 
        width: 100%;
    }
    .all-footer{
        display: flex;
        justify-content: space-between;
        
    }



}





@media (min-width:1720px){
 footer{
    background-image: url(/images/McLRE7y7i.jpg)
    ; 
    border-top: 2px solid black;
}

.all-footer{
    display: flex;
    justify-content: space-around;
    color: #bfc037
}

.caja-footer{
    border-right: 2px solid black;
    padding-right: 10rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.caja-footer:last-child{
    border-right: none;
}


.seguinos{
    margin-top:15px;
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.red-social{
    padding-top: 5px;
    padding-right: 5px;
    font-size: 4rem;
} 
}