footer{
    background-color:#6a8085; 
    border-top: 2px solid black;
}

.all-footer{
    display: flex;
    justify-content: space-around;
}

.caja-footer{
    border-right: 2px solid black;
    padding-right: 10rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.caja-footer:last-child{
    border-right: none;
}

.seguinos{
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.red-social{
    padding-top: 5px;
    padding-right: 5px;
    font-size: 4rem;
}