@media (min-width:480px){
    footer{
        background-image: url('/images/McLRE7y7i.jpg'); 
        width: 100%;
    }
    .all-footer{
        display: flex;
        justify-content: space-around;
        color: white;
        color: #bfc037;
        align-items: center;
        justify-content: center;
        
    }



}





@media (min-width:1720px){
 footer{
    background-image: url('/images/McLRE7y7i.jpg');
    border-top: 2px solid black;
}

.all-footer{
    display: flex;
    color: white;
    color: #bfc037;
    justify-content: space-around;
    align-items: center;    
}

.caja-footer{
    border-right: 2px solid black;
    padding-right: 10rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}

.caja-footer:last-child{
    border-right: none;
}


.seguinos{
    margin-top:15px;
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.red-social{
    padding-top: 5px;
    padding-right: 5px;
    font-size: 4rem;
} 
.caja-footer .logo img{
    width: 100px;
    padding: 0 0 10px 10px;
    
}
.fa-facebook-square:hover{
    color: rgba(0, 0, 255, 0.972);
}

.fa-twitter-square:hover{
    color: lightblue;
}

.fa-instagram-square:hover{
    color: rgb(190, 8, 69);
}

}