@media (min-width:480px){
header{
    background-color:#090f28
    ; 
    width: 100%;
    
}
.allheader{
    height: 6rem;
}
.logo{
    display: none;
}

.buscador2{
    display: none;
}

.NameLogo{
    padding: 13px 13px 13px 13px;
    display: flex;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 3rem; 
    color: #bfc037
}
.logo-NombreLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-bars{
    font-size: 3.5rem;
    padding-right: 13px;
}

.nav1, .nav2{
    display: none;
} 

}



@media (min-width:1720px){


.logo-NombreLogo{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.buscador1{
    display: none;
}

.fa-bars:before {
    display: none
}
.logo{
    display: flex;
} 
.buscador2{
    display: flex;
}

.NameLogo{
     width: 1rem;   
    padding-left: 1rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 3rem;
   
}
.allheader{
     display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 7rem;
}

.nav1{
    text-align: center;
    padding-left: 6rem;
    display: flex;
    align-items: center;
    
}
.nav1 li{
    display: inline-block;
    margin-right: 5rem;
    font-size: 1.3rem;
}
.nav1 li:hover{
border-bottom: 2px solid ;
border-color: black;
}

.buscador{
    width: 23em;
    height: auto;
    border-radius: .5em 0.5em 0.5e .5em;
    padding-left: .5em
  }
.fa-shopping-cart{
    margin-left: 8rem;
    font-size: 2.5rem;
}

.nav2{
    text-align: right;
    display: flex;

}
.nav2 li{
    display: inline-block;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.3rem;
    
}

.nav2 li .button-registro{
    border-radius: 40px;
    background-color: lightblue; 
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
}
}