@media (min-width:480px){
.banner-productos{
    
}
.banner-productos article:last-child{
    display: none;
}

.desc-dispositivos{
    display: none;
}

.dispositivos{
    display: none;
}

}


@media (min-width:1920px){
 .main{
    background-color: grey;
    width: 100%;
    
}


.titulo-productos{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    
}

.titulo-productos h4{
    padding-top: 18px;
    padding-left: 5px;
}

.banner-productos{
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: center;

      
}


.banner-productos article{
    border: 2px solid black;
    padding: 3rem;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    display: block;
    margin-right: 10px;

}
.banner-productos article:last-child{
    border: 2px solid black;
    padding: 3rem;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    display: block;
    margin-right: 10px;
}
.home .descripcion-de-producto{
     border-top: 2px solid black;
    flex-direction: column;
}


.desc-dispositivos{
    padding-left: 5px;
}

.dispositivos{
    display: flex;
    font-size: 10rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-dispositivos{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contenedor-dispositivos p{
    font-size: 2rem;
}
}