
.login__principal {
    margin-top: 8%;
}


.login h1{
    text-align: center;
    color:white;
    font-size: 2rem;
    
}
.login p{
    text-align: center;
}
.login input{
    margin:10px auto;
    border-radius: 5px;
}
.login .login__bienvenida{
    margin: 30px auto;
}
.login .login__usuario{
    margin:30px auto;

}
.login .login__registrate{
    color:white;
    margin: 30px auto 60px;
}

@media (min-width:768px){

    .login__principal {
        margin-top: 7%;
    }

    .login input{
        width: 400px;
        margin:10px auto;
        border-radius: 5px;
    }
}