.main{
    
    /* background-image: url('/images/fondo.main.jpeg');  */
  background: #202324; 
  background-size: 100%;
  width: 100%;

}

.aside{
    margin-top: 15px;
    margin-bottom: 15px;
}

.aside ul{
    padding: 0;
}

.aside .dropdown{
    width: 70%;
    display: flex;
    justify-content: center;
}
.aside .dropdown button{
    width: 90%;
    
}

.titulo-productos{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: #bfc037
    
}

.titulo-productos h4{
    padding-top: 5px;
    padding-left: 5px;
    color: white
}
.banner-productosProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner-productosProducto article{
    margin-top: 10px;
    padding: 5px;
    background-color: #24303c;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 15px;
}

.descripcion-de-producto{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.banner-productosProducto span{
    text-align: center;
}
.home article{
    width: 90%;
}

.home article img{
    width: 11em;
    height: 11em;
    display: block;
    align-items: center;
} 

.home .descripcion-de-producto p{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border-radius: 2px;
    font-weight: bolder;
}



 @media (min-width:768px){

.main{
    
      background-image: url('/images/fondo.main.jpeg');  
    background-size: 100%;
    width: 100%;

}

.titulo-productos{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: #bfc037
    
}
.titulo-productos h4{
    padding-top: 18px;
    padding-left: 5px;
    color: white
}

.banner-productosProducto{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
   flex-direction: row;
    flex-wrap: wrap;  
   
    }
.banner-productosProducto article{
    padding: 5px;
    background-color: #24303c;
    box-shadow: 7px 13px 37px #000;
    width: 40%;
    margin-bottom: 15px;
    
}

.descripcion-de-producto{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #1f53c5; */
    padding: 5px;
}
.banner-productosProducto span{
    text-align: center
}

}

@media (min-width:1024px){
    .main{
       
       /* background-image: url('/images/fondo.main.jpeg'); */
       background-repeat: no-repeat;
       background-size: 100%;
       
   }
   
   .titulo-productos{
       display: flex;
       align-items: center;
       padding-left: 2rem;
       padding-top: 1rem;
       font-size: 1.5rem;
       color: #bfc037
   
       
   }
   
   .titulo-productos h4{
       padding-top: 18px;
       padding-left: 5px;
       color: white
       
}

.container{
    display: flex;
    width: 85%;
}

.box-aside{
    width: 30%; 
    background-color: #24303c;
    height: 100vh;
    float: left;
    margin-top: 15px;
}

   
  .banner-productosProducto{
       display: flex; 
       align-items: center;  
       width: 80%;
      }
   
  .banner-productosProducto article{
       border: 2px solid black;
       border-radius: 5%;
       text-align: center;
       display: block;
       margin-right: 10px;
      
       
   
   }   

.carouselProducto{
       display: none;
   } 
   
    .banner-productosProducto article img{
       max-width: 200px;
      
   }
   
   
   .home .descripcion-de-producto{
       /*  border-top: 2px solid #1f53c5; */
       flex-direction: column;
       width: 80%; 
       display: flex;
       justify-content: center;
       align-items: stretch;
       margin: 0 auto;
      
   }
   
   .home .descripcion-de-producto p{
       background-color: lightblue;
       padding: 5px;
       color: black;
       border-radius: 2px;
       font-weight: bolder;
   }
   
   
   .home .desc-dispositivos{
       padding: 1.5rem 0 1.5rem 1.5rem;
       display: flex;
       color: #bfc037
   
   
   }
   
   
   }
 

@media (min-width:1520px){
 .main{
    
    /* background-image: url('/images/fondo.main.jpeg'); */
    background-repeat: no-repeat;
    background-size: 100%;
    
}



.titulo-productos{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #bfc037

    
}

.titulo-productos h4{
    padding-top: 18px;
    padding-left: 5px;
    color: white
    


}

.banner-productosProducto{
     display: flex; 
    align-items: center; 
    justify-content: center;
    
    
}

.banner-productosProducto article{
    border: 2px solid black;
    /* padding: 3rem; */
    border-radius: 5%;
    text-align: center;
    display: block;
    margin-right: 10px;
    width: 40%;
    height: auto

}



.banner-productosProducto article img{
    width: 200px;
   
}


.home .descripcion-de-producto{
    /*  border-top: 2px solid #1f53c5; */
    flex-direction: column;
    width: 80%;
    /* height: 550px; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
   
}

.home .descripcion-de-producto p{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border-radius: 2px;
    font-weight: bolder;
}

}