<footer>
  <div class="all-footer">
    <div class="caja-footer">
      <div class="contenido-caja-footer">
        <h3 class="titulo-footer">Hadou Tech</h3>
        <img src="/images/intentounmillon.png" alt="Qr o logo" class="logo-footer">
      </div>
    </div>

    <div class="caja-footer">
      <p>
      Ayuda
      </p>
      <p>
      Si tenes sugerencias o comentarios. No dudes en contactarnos
      </p>
      <button>Ayuda</button>
    </div>

    <div class="caja-footer">
      <p class="seguinos"> Seguinos en </p>
      <div class="red-social">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-instagram-square"></i></a>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <script src="sweetalert2.min.js"></script>
  <link rel="stylesheet" href="sweetalert2.min.css">


  <!--Scripts Result Search-->
  <script src="/javascripts/resultSearch.js"></script>


</footer>
