<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Hadou Tech</title>
</head>

<body>
    <header>
        <div class="allheader">
            <div class="logo-NombreLogo">
                <img src="" alt="logo">
                <h3 class="NameLogo">Hadou Tech</h3>
            </div>
            <div class="nav1">
                <nav>
                    <ul>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Historial</a></li>
                        <li><a href="">Marcas</a></li>
                    </ul>
                </nav>
                <form action=""><input class="buscador" type="text" placeholder="Buscar..."></form>

            </div>

            <div class="nav2">
                <nav>
                    <ul>
                        <li><a href="">Ingresar</a></li>
                        <li><a href="" class="button-registro">Registro</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <main class="main">
        <div class="banner-carrousel">
            <!-- imagen de carrousel -->
        </div>

        <div class="titulo-productos">
            <h1>ofertas</h1>
            <h4>ver todos</h4>
        </div>

        <!-- Comienza carrousel de productos -->


        <div class="banner-productos">
            <article>

                <img src="" alt="mouse">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <span>$999.999</span>

            </article>
            <article>

                <img src="" alt="teclado">

                <h3>Lorem ipsum dolor sit amet.</h3>
                <span>$999.999</span>

            </article>
            <article>

                <img src="" alt="auriculares">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <span>$999.999</span>

            </article>



        </div>


        <!-- termina la seccion de productos -->

        <!-- Comienza iconos de productos -->
        <h1 class="desc-dispositivos">todos tus dispositivos favoritos</h1>
        <div class="dispositivos">
            <a href=""><i class="fas fa-headphones"></i></a>
            <a href=""><i class="fas fa-keyboard"></i></a>
            <a href=""><i class="fas fa-desktop"></i></a>
            <a href=""><i class="fas fa-mouse"></i></a>
        </div>
        </div>





    </main>
    <footer>
        <div class="all-footer">
            <div class="caja-footer">
                <h3>Hadou Tech</h3>
                <img src="" alt="Qr o logo">
            </div>

            <div class="caja-footer">
                <p>
                    Ayuda
                </p>
                <p>
                    Si tenes sugerencias o comentarios. No dudes en contactarnos
                </p>
                <button>Ayuda</button>
            </div>

            <div class="caja-footer">
                Seguinos en
                <div>
                    <a href=""><img src="" alt="">Facebook</a>
                    <a href=""><img src="" alt="">Twitter</a>
                    <a href=""><img src="" alt="">Instagram</a>

                </div>
            </div>
        </div>


    </footer>

</body>

</html>