<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <header>
    <div class="allheader">
        <div class="logo-NombreLogo">
            <img src="" alt="logo">
            <h3 class="NameLogo">Hadou Tech</h3>
        </div>
        <div class="nav1">
            <nav>
                <ul>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Historial</a></li>
                    <li><a href="">Marcas</a></li>
                </ul>
            </nav>
            <form action=""><input class="buscador" type="text" placeholder="Buscar..."></form>

        </div>

        <div class="nav2">
            <nav>
                <ul>
                    <li><a href="">Ingresar</a></li>
                    <li><a href="" class="button-registro">Registro</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>

<footer>
  <div class="all-footer">
      <div class="caja-footer">
          <h3>Hadou Tech</h3>
          <img src="" alt="Qr o logo">
      </div>

      <div class="caja-footer">
          <p>
              Ayuda
          </p>
          <p>
              Si tenes sugerencias o comentarios. No dudes en contactarnos
          </p>
          <button>Ayuda</button>
      </div>

      <div class="caja-footer">
          Seguinos en
          <div>
              <a href=""><img src="" alt="">Facebook</a>
              <a href=""><img src="" alt="">Twitter</a>
              <a href=""><img src="" alt="">Instagram</a>

          </div>
      </div>
  </div>


</footer>



 

  


</body>
</html>