<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head')%>

<body class="carrito">

     <%- include ('./partials/header')%>

    <main>
        <div class="carrito__titulo">
            <h1>Carrito de compras</h1>
            <i class="fas fa-arrow-left"></i>
        </div>
        <form action="">
            <section class="carrito__producto">
                <div class="carrito__producto--contenedor">
                    <!-- border superior en formato mobile color orange-->
                    <div class="carrito__producto--imagen">
                        <img src="/images/auris-producto.jpg" alt="imagen del producto" width="200px">
                    </div>
                    <div>
                        <p class="carrito__producto--descripcion">descripcion del producto mas Lorem ipsum dolor sit amet consectetu</p>
                    </div>
                    <div class="carrito__producto--cantidad">
                        <input type="submit" value="-">
                        <p>1</p>
                        <input type="submit" value="+">
                    </div>
                    <div>
                        <p class="carrito__producto--precio">$99.999</p>
                    </div>

                </div>
                <div class="carrito__producto--footer">
                    <p><i class="fas fa-coins"></i> Sumás 99 HadoCoins</p>       
                </div>
            </section>
            <section class="carrito__envio">
                <div class="carrito__envio--contenedor">
                    <!-- border superior en formato mobile color verde -->
                    <div class="carrito__logo--general">
                        <img src="/images/intentounmillon.png" width="50px" alt="imagen de logo modificado">
                        <p>Envio</p>
                    </div>
                    <div class="carrito__envio--formulario">
                            <div class="carrito__envio--formas">
                                <p class="carrito__envio--correo">Correo Oca</p>
                                <div class="elemento__envio">
                                    <label for="ocaDomicilio">
                                        <input type="radio" name="forma__envio" id="ocaDomicilio">
                                        Domicilio:
                                    </label>
                                </div>
                                <div class="elemento__envio">
                                    <label for="ocaSucursal">
                                        <input type="radio" name="forma__envio" id="ocaSucursal">
                                        Sucursal:
                                    </label>

                                </div>
                            </div>
                            <div class="carrito__envio--formas">
                                <p class="carrito__envio--correo">Correo Andreani</p>
                                <div class="elemento__envio">
                                    <label for="andreaniDomicilio">
                                        <input type="radio" name="forma__envio" id="andreaniDomicilio">
                                        Domicilio:
                                    </label>
                                </div>
                                <div class="elemento__envio">
                                    <label for="andreaniSucursal">
                                        <input type="radio" name="forma__envio" id="andreaniSucursal">
                                        Sucursal:
                                    </label>
                                </div>
                            </div>
                            <div class="carrito__envio--formas">
                                <p  class="carrito__envio--correo">Mensajeria</p>
                                <div class="elemento__envio">
                                    <label for="mensajeria">
                                        <input type="radio" name="forma__envio" id="mensajeria">
                                        Domicilio:
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="carrito__envio--formas carrito__envio--codigoPostal">
                            <div class="elemento__envio">
                                <input type="text" name="carrito__envio--codigoPostal" id="carrito__envio--codigoPostal" placeholder="Código postal" class="input">
                                <i class="fas fa-truck" ></i>
                            </div>
                        </div>
                </div>
                
            </section>
            <section class="carrito__promo">
                <div class="carrito__promo--contenedor">
                    <div class="carrito__logo--general">
                        <img src="/images/intentounmillon.png" width="50px" alt="imagen de logo modificado">
                        <p>Promo</p>
                    </div>
                    <div class="carrito__promo--codigo" >
                        <div class="elemento__envio">
                            <input type="text" name="carrito__promo--codigo" id="carrito__envio--codigoPostal" placeholder="Ingresar código de descuento" class="input">
                            <i class="fas fa-ticket-alt"></i>
                        </div>
                    </div>
                    <div class="carrito__promo--envio">
                        <div class="carrito__promo--enviar">
                            <input type="submit" value="Aceptar">
                        </div>
                    </div>
                </div>
            </section>
            <section class="carrito__pago">
                <div class="carrito__pago--contenedor">
                    <div class="carrito__logo--general">
                        <img src="/images/intentounmillon.png" width="50px" alt="imagen de logo modificado">
                        <p>Pago</p>
                    </div>
                    <div class="carrito__pago--formas">
                        <div class="elemento__pago">
                            <label for="forma__pago">
                                <input type="radio" name="forma__pago" id="forma__pago--contado">
                                Pago contado
                            </label>
                            <p class="carrito__pago--forma">Deposito</p>
                            <p class="carrito__pago--forma">Transferencias</p>
                        </div>
                    </div>
                    <div class="carrito__pago--formas">
                        <div class="elemento__pago">
                            <label for="forma__pago">
                                <input type="radio" name="forma__pago" id="forma__pago--cuotas">
                                Pago en cuotas
                            </label>
                            <p class="carrito__pago--forma">Tarjetas</p>
                            <p class="carrito__pago--forma">Mercado Pago</p>  
                        </div>
                    </div>
                </div>
                <div class="carrito__pago--footer">
                    <p>Total : $<span>999.999</span></p>       
                </div>

            </section>
        </form>

    </main>

    <%- include ('./partials/footer') %>
    
</html>
