<!DOCTYPE html>
<html lang="es">

   <%- include ('./partials/head')%>

   <body class="home">

      <%- include ('./partials/header')%>

      <main class="login">
         <form action="./login" method="POST">
            <section class="login__principal">
               <div class="login__bienvenida">
                  <h1>Bienvenido</h1> 
               </div>
               <div class="login__usuario">
                  <p><input type="email" name="email" id="email" placeholder="Ingrese su mail"></p>
                  <h4 class="text-danger"><%= locals.errores && locals.errores.email ? errores.email.msg : null %></h4>
                  <p><input type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contrase単a"></p>
                  <p>Recordarme</p>
                  <p>
                  <input type="checkbox"  id="check" name="recordar">
                  </p>
                  <p><input type="submit" value="Login"></p>

               </div>
               <div class="login__registrate">
                  <p>多Perdiste tu contrase単a</p>
                  <p>多No tienes Cuenta? <a href="./register">Registrate</a> </p>
                  <p class="login__registrate--volver"><a href="/"><i class="fas fa-arrow-left"></i> Volver</a></p>
               </div>
            </section>
         </form>

      </main>

      <%- include ('./partials/footer') %>

   </body>
</html>
