<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head')%>
    
<body class="home">

    <%- include ('./partials/header')%>

    <main>
    <main class="login">
            <section class="login__principal">
                <div class="login__bienvenida">
                    <h1>Bienvenido</h1>
                </div>
                <div class="login__usuario">
                    <p><input type="text" name="usurio" id="usuario" minlength="2" maxlength="15" placeholder="usuario"></p>
                    <p><input type="password" name="contrasena" id="contrasena" placeholder="contrase単a"></p>
                    <p><input type="submit" value="Login"></p>
                </div>
                <div class="login__registrate">
                    <p>多Perdiste tu contrase単a</p>
                    <p>多No tienes Cuenta? Registrate</p>
                    <p class="login__registrate--volver"><a href="/"><i class="fas fa-arrow-left"></i> Volver</a></p>
                </div>
            </section>
    </main>
     
    <%- include ('./partials/footer') %>

</body>
</html>
