<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head')%>
    
<body class="login">

    <%- include ('./partials/header')%>

    <main>
       <!--  <section class="login__principal">
            <div class="login__bienvenido">
                <h1>Bienvenido</h1>
            </div>
            <div class="login__usuario">
                <form action="" >
                    <div class="login__usuario--usuario">
                        <label for="usuario">
                            Usuario: <p><input type="text" name="usurio" id="usuario" minlength="2" maxlength="15" placeholder="usuario"></p>
                        </label>
                    </div>
                    <div class="login__usuario--contrasena">
                        <label for="contrasena">
                            Contraseña: <p><input type="password" name="contrasena" id="contrasena" placeholder="contraseña"></p>
                        </label>
                    </div>
                    <div class="login__usuario--login">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
            <div class="login__registrate">
                <h1 class="login__bienvenido2">Bienvenido</h1>
                <p>¿Perdiste tu contraseña</p>
                <p>¿No tienes Cuenta? Registrate</p>
                <p class="login__registrate--volver"><a href="/"><i class="fas fa-arrow-left"></i> Volver</a></p>
            </div>
            </section> -->
            <section class="login__principal">
                <div class="login__bienvenida">
                    <h1>Bienvenido</h1>
                </div>
                <div class="login__usuario">
                    <p><input type="text" name="usurio" id="usuario" minlength="2" maxlength="15" placeholder="usuario"></p>
                    <p><input type="password" name="contrasena" id="contrasena" placeholder="contraseña"></p>
                    <p><input type="submit" value="Login"></p>
                </div>
                <div class="login__registrate">
                    <p>¿Perdiste tu contraseña</p>
                    <p>¿No tienes Cuenta? Registrate</p>
                    <p class="login__registrate--volver"><a href="/"><i class="fas fa-arrow-left"></i> Volver</a></p>
                </div>
            </section>
    </main>
     
    <%- include ('./partials/footer') %>

</body>
</html>
